* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Segoe UI", sans-serif; */
}

body {
  overflow: visible;
  background: var(--page-bg);
}

/* MAIN CONTAINER */

.main-template-container {
  width: 100%;
  height: 100vh;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0;
}

/* LEFT IMAGE SECTION */

.template-content-box {
  width: 80%;
  height: 100vh;

  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  margin: 0;
  padding: 2px;
}

.left-banner-image {
  height: 100vh;
  width: auto;

  display: block;
  object-fit: cover;
}

/* LOGIN CARD */

.template-login-box {
  width: 480px;
  height: 590px;

  background: var(--card-bg);

  border-radius: 28px;
  border: 1px solid var(--primary);

  padding: 26px 24px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);

  margin-right: 260px;
  /* margin-left: -140px; */
}

/* LOGO */

.template-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.analytics-logo {
  width: 200px;
  object-fit: contain;
}

/* FORM */

.template-form {
  margin-top: 20px;

  display: flex;
  flex-direction: column;
}

.template-form label {
  font-size: 18px;
  font-weight: 600;

  color: var(--text-primary);

  margin-bottom: 9px;
}

/* INPUT BOX */

.input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.input-box input {
  width: 100%;

  padding: 12px 42px 12px 14px;

  border: 1px solid #d6d6d6;
  border-radius: 6px;

  background: #ffffff;

  font-size: 13px;

  outline: none;
}

.input-box input:focus {
  color: var(--text-primary);
}

/* INPUT ICONS */

.input-icon {
  position: absolute;

  right: 14px;
  top: 50%;

  transform: translateY(-50%);
  color: var(--primary);

  font-size: 18px;
}

/* BUTTON */

.template-form button {
  width: 100%;

  padding: 12px;

  border: none;
  border-radius: 6px;

  background: var(--primary);

  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.template-form button:hover {
  opacity: 0.9;
}

/* ERROR */

.error-text {
  color: red;
  font-size: 13px;
  margin-bottom: 12px;
}

/* POWERED BY */

.template-powered-by {
  margin-top: 10px;
  text-align: center;
}

.powered-text {
  font-size: 14px;
  font-weight: 600;
  color: var(--text-primary);

  margin-bottom: 12px;
}

.powered-logo {
  width: 200px;
  object-fit: contain;
}

.password-toggle-icon {
  cursor: pointer;
}
