* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gilroy", sans-serif;
}
.app-container {
  min-height: 100vh;
  display: flex;
  align-items: stretch;
}

.sidebar {
  background-color: var(--bg-sidebar);
  border-right: 1px solid var(--border-color);
  width: 243px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transition: width 0.3s ease;
  overflow-y: auto;
  position: fixed;
}
.sidebar.closed {
  width: 0;
}

.sidebar.closed .logo,
.sidebar.closed .nav-links,
.sidebar.closed .footer-logo {
  display: none;
}

.logo,
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  transition: all 0.3s ease;
}

.logo img,
.footer-logo img {
  width: 215px;
  height: 58px;
  transition: all 0.3s ease;
}
.nav-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
}

.nav-button {
  background: none;
  border: none;
  color: var(--nav-text);
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: 14px;
  margin: 8px 0;
  cursor: pointer;
  font-weight: 500;
  padding: 8px 13px;
  width: 100%;
  text-align: left;
  transition: all 0.3s ease;
  text-decoration: none;
}

.nav-button:hover {
  background-color: var(--nav-hover);
  color: var(--primary);
  border-radius: 6px;
}

.nav-button.active {
  background-color: var(--nav-active);
  color: var(--text-white);
  border-radius: 6px;
}

.nav-button svg {
  transition: color 0.3s ease;
}
.nav-button span {
  transition: all 0.3s ease;
}

.sidebar.closed .nav-button {
  justify-content: center;
}

.sidebar.closed .nav-button span {
  display: none;
}
.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.footer-logo {
  width: 183px;
  /* height: 62px; */
  margin-top: auto;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: auto;
}
.footer-logo img {
  width: 180px;
  height: 60px;
  transition: all 0.3s ease;
}

.app-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  height: 80px;

  background: linear-gradient(
    90deg,
    var(--bg-header-start),
    var(--bg-header-end)
  );

  border-bottom: 0px solid var(--border-color);
}

.sidebar-toggle {
  position: absolute;
  top: 26px;
  left: 0;
  background: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  z-index: 9998;
}

.app-logo {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.app-logo img {
  width: 48px;
  height: 48px;
  /* max-height: 30px; */
  object-fit: contain;
}
.app-client {
  position: absolute;
  right: 60px;
  top: 50%;
  transform: translateY(-50%);
}
.app-client img {
  width: 150px;
  height: auto;
  max-height: 60px;
  object-fit: contain;
}
.app-header h1 {
  color: #000000;
}

.nav-button {
  text-decoration: none;
}

.sidebar-toggle-wrapper {
  position: absolute;
  left: 0;
  top: 30%;
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  gap: 10px;
  z-index: 9998;
}

.current-page-title h3 {
  margin: 60.5px 0 30px 26px;
  color: var(--primary);
  font-weight: 600;
  font-size: 19px;
  white-space: nowrap;
}

.current-page-title {
  padding-left: 20px;
}

/* Let this push itself to the bottom of the sidebar */
.footer-logo {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: var(--bg-sidebar);
}

.main-content {
  margin-left: 243px; /* Match sidebar width */
}

.sidebar.closed ~ .main-content {
  margin-left: 0;
}
