.analytics-container {
  width: 100%;
  min-height: 100vh;
  font-family: var(--font-primary);
}

/* Top Area */
.analytics-top-section {
  background: var(--home-top-bg);
  padding: 10px 18px 0 10px; /* remove bottom padding */
}

/* Bottom Area */
.analytics-chart-section {
  background: var(--home-chart-bg);
  padding: 10px 18px 10px 10px;
}
.dash-path {
  font-size: 16px;
  color: var(--text-secondary);
}

.dash-path span {
  font-size: 16px;
  color: var(--primary);
  font-weight: 400;
  margin: 0;
}
.dash-filter-box {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 14px;
}
.shift-select {
  width: 150px;
  height: 42px;

  border: 1px solid var(--primary);
  background: var(--card-bg);
  color: var(--text-secondary);
  font-family: var(--font-family);
  font-size: var(--font-size-md);

  padding: 0 14px;

  /* font-family: "Gilroy", sans-serif; */
  font-size: 14px;
  /* font-weight: 400; */

  outline: none;
}
.report-download-btn {
  margin-left: auto;
  width: 171px;
  height: 38px;
  padding: 12px;
  border: 1px solid var(--chart-yellow);
  background: var(--card-bg);
  color: var(--primary);
  font-size: 14px;
  font-family: var(--font-family);
  border-radius: 2px;
  cursor: pointer;
}

.stats-layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 15px;
}

.info-card {
  height: 80px;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #ffffff;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.info-card p {
  font-size: 12px;
  font-weight: 600;
  line-height: 19px;
  color: var(--text-primary);
  width: 85%;
}

.info-card h2 {
  font-size: 25px;
  line-height: 130%;
  font-weight: 600;
  color: var(--text-primary);
}

.violet-bg {
  background: var(--kpi-compliance);
}

.orange-bg {
  background: var(--kpi-efficiency);
}

.soft-purple-bg {
  background: var(--kpi-noncompliance);
}

.green-bg-light {
  background: var(--kpi-underfill);
}
.circle-info {
  width: 12px;
  height: 12px;
  border: 1px solid #7d7d7d;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 7px;
  color: #666;
}

.chart-grid-layout {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}
.graph-section {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.graph-section h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
  margin-bottom: 8px;
  margin-top: 10px;
  color: var(--text-primary);
}

.graph-card {
  width: 100%;
  height: 300px; /* overall card */
  padding: 12px;
  border: 1px solid var(--chart-border);
  background: var(--card-bg);
  display: flex;
  flex-direction: column;
}

.graph-header {
  height: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 4px;
}

.align-end {
  justify-content: flex-end;
}

.legend-box {
  display: flex;
  gap: 14px;
  font-size: 12px;
  color: #555;
}

.legend-box span {
  display: flex;
  align-items: center;
  gap: 4px;
}

.dot-green,
.dot-gray {
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.dot-green {
  background: #00cc22;
}

.dot-gray {
  background: #cfcfcf;
}

.graph-body,
.line-area-wrapper {
  display: flex;
}

.axis-side,
.line-axis-side {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  height: 220px;
  font-size: 9px;
  margin-right: 9px;
}

.vertical-label {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 13px;
  color: var(--primary);
  font-weight: 600;
}

.scale-values {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
  font-size: 10px;
  margin-left: 10px;
  color: #777;
}

.bars-wrapper,
.line-chart-wrapper {
  flex: 1;
  height: 220px;
  border-left: 1px solid #9e9e9e;
  border-bottom: 1px solid #9e9e9e;
  position: relative;
}
.line-chart-wrapper {
  overflow: visible;
}
.bars-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0 8px;
}

.bottom-green-bar,
.top-gray-bar {
  position: relative;
}
.single-bar-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  position: relative;
}

.bar-stack-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-gray-bar,
.bottom-green-bar {
  width: 79px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8px;
  font-weight: 600;
}

.top-gray-bar {
  background: #d9d9d9;
  color: #111;
}
.bottom-green-bar,
.top-gray-bar {
  position: relative;
}

.bottom-green-bar span {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  font-weight: 600;
}

.top-gray-bar span {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 8px;
  font-weight: 600;
}
.bottom-green-bar {
  background: #00cc22;
  color: #000;
}

.efficiency-point {
  fill: var(--chart-orange);
}

.efficiency-line {
  stroke: var(--axis-color);
  stroke-width: 1.5;
}
.single-bar-group p {
  position: absolute;
  bottom: -20px;
  font-size: 12px;
  color: #666;
}

.bottom-axis-title {
  text-align: center;
  font-size: 13px;
  font-weight: 600;
  color: var(--primary);
  margin-top: 25px;
}

/* .line-chart-wrapper {
  overflow: hidden;
} */

.efficiency-point {
  fill: var(--chart-orange);
  r: 6;
}

.grid-line {
  position: absolute;
  left: 0;
  width: 100%;
  border-top: 1px dashed #d7d7d7;
}
.svg-chart {
  width: 100%;
  height: 220px;
  overflow: visible;
  display: block;
}
.dates-row {
  position: absolute;
  /* bottom: -px; */
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-size: 12px;
  color: #777;
  left: 0;
}

.full-chart {
  width: 100%;
}

.svg-chart {
  width: 100%;
  height: 220px;
  overflow: visible;
  display: block;
}

.info-tooltip-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.info-tooltip {
  position: absolute;
  top: 18px;
  right: 300px;

  width: 200px;

  background: #f4eef9;
  border: 1px solid #c8b8d8;

  padding: 6px 8px;

  font-size: 9px;
  line-height: 1.4;

  color: #5a5560;

  border-radius: 4px;

  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);

  opacity: 0;
  visibility: hidden;

  transition: 0.2s ease;

  z-index: 20;
}

.info-tooltip-wrapper:hover .info-tooltip {
  opacity: 1;
  visibility: visible;
}

.react-datepicker {
  border: 1px solid #8b8bff !important;

  font-size: 11px !important;

  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.react-datepicker__header {
  background: #fff !important;

  border-bottom: none !important;
}

.react-datepicker__current-month {
  color: #5b5bf7 !important;

  font-size: 14px !important;

  font-weight: 500 !important;
}

.react-datepicker__day--selected {
  background: #5b5bf7 !important;
}

.react-datepicker__day:hover {
  background: #ececff !important;
}

.react-datepicker-popper {
  z-index: 9999 !important;
}

.react-datepicker {
  font-size: 14px;
  border: 1px solid #dcdcdc;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

/* Datepicker Fix */

.dash-wrapper,
.dash-header,
.dash-filter-box {
  overflow: visible !important;
}

.react-datepicker-popper {
  z-index: 99999 !important;
}

.react-datepicker-wrapper {
  overflow: visible !important;
}

.react-datepicker {
  z-index: 99999 !important;
}

.react-datepicker__tab-loop {
  position: relative;
  z-index: 99999 !important;
}
