.users-page {
  padding: 10px 18px 10px 10px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    var(--home-top-bg) 0px,
    var(--home-top-bg) 120px,
    var(--home-chart-bg) 120px,
    var(--home-chart-bg) 100%
  );
  color: var(--text-primary);
  font-family: "Gilroy", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* gap: 12px; */
  /* color: #333; */
  /* box-sizing: border-box; */
  overflow: hidden;
}

/* HEADER */
.users-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu-text {
  font-size: 16px;
  color: var(--text-secondary);
  font-weight: 400;
}

.header-left h2 {
  font-size: 16px;
  color: var(--primary);
  font-weight: 400;
  margin: 0;
}
.add-user-btn {
  margin-left: auto; /* pushes button to right */

  width: 170px;
  height: 38px;

  background: var(--primary);
  color: #fff;

  border: none;
  border-radius: 2px;

  font-size: 15px;
  font-weight: 400;

  cursor: pointer;
}

.add-user-btn:hover {
  background: var(--primary);
}

/* CONTROLS */
.users-controls {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 18px;
  /* flex-wrap: wrap; */
}

.search-box {
  display: flex;
  align-items: center;
  background: white;
  border: 1px solid #ddd;
  height: 38px;
  width: 360px;
  padding: 0 10px;
  border-radius: 2px;
}

.search-box input {
  border: none;
  outline: none;
  width: 100%;
  margin-left: 8px;
  font-size: 14px;
  font-weight: 400;
  background: transparent;
}

.search-icon {
  color: #777;
}

.select-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 180px;
  height: 38px;
  background: white;
  border: 1px solid #ddd;
  padding: 0 10px;
  border-radius: 2px;
}

.select-box select {
  border: none;
  outline: none;
  width: 180px;
  background: transparent;
  appearance: none;
  font-size: 14px;
  font-weight: 400;
  color: #666;
  cursor: pointer;
}

/* TABLE */
.users-table {
  width: 100%;
  /* height: 234px; */
  overflow-x: auto;
}

.users-table table {
  width: 100%;
  border-collapse: collapse;
  background: white;
}

.users-table thead {
  background: #e8e8ee;
}

.users-table th {
  text-align: left;
  padding: 12px 18px;
  font-size: 18px;
  line-height: 100%;
  color: #333;
  font-weight: 600;
}

.users-table td {
  padding: 11px 18px;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  border-top: 1px solid #f1f1f1;
}

/* STATUS */
.status-badge {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 16px;
  font-weight: 400;
}

.status-badge .dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.status-badge.active .dot {
  background: #16c60c;
}

.status-badge.inactive .dot {
  background: red;
}

/* ACTION ICONS */
.action-icons {
  display: flex;
  align-items: center;
  gap: 12px;
  cursor: pointer;
}

.action-icons svg {
  color: #333;
}
